<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars and Mars accessories</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mars News and Stats</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">What's the latest on Mars?</a></p>
    </div>

    <!-- Craigslist Listings -->
    <div class="row" id="craiglist-listings">
      <div class="col-md-12">
        <h4 class="heading">{{Mars.Headline}} {{Mars.newPara}}</h4>
        <small>{{Mars.nwsDate}}</small>
      </div>
            <h1 class="jumbotron">Inventory</h1>
      <div>
        <div>
        <h4>{{Mars.MarsWeather}}</h4>
        </div>
       <div class="container-fluid" id="marsfacts">
           <h4>Mars Facts</h4>
           <p>{{Mars.MarsFacts | safe}}</p>
       </div>
        <!-- write a for loop that lists out your data and accesses the values using dot notation. -->
          {% for item in Mars.hemi %}
          <div class="col-lg-4">
              <div class="card" style="width: 20rem;">
                  <div class="card-body">
                    <h4 class="card-title">{{ item.title }}</h4>
                    <img src="{{ item.img_url }}" alt="{{ item.title }}">
                  </div>
                </div>
            </div>
            {% endfor %}
      </div>
    </div>

  </div>
</body>

</html>

