<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars and Mars accessories</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1>Mars News and Stats</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">What's the latest on Mars?</a></p>
    </div>
    <h5 class="text-primary">Latest Mars News</h5>
    <div class="container">
        <h3 class="heading">{{Mars.Headline}}</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                {{Mars.newPara}}
                <small>{{Mars.nwsDate}}</small>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6  col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h4>Featured Image</h4>
                <div class="container-fluid" id="imagecontainer">
                <img src="{{ Mars.featuredimg }}" style='width:95%;' border="1" alt="Featured Image">
                </div>
            </div>
            <div class="col-xl-6  col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h3>Weather on Mars</h3>
                <div class="panel panel-default">
                    <div class="panel-body">{{Mars.MarsWeather}}</div>
                </div>
                <div class="panel-body">
                    <h3>Mars Facts</h3>
                    {{Mars.MarsFacts | safe}}
                </div>
            </div>
        </div>
    </div>
    <h3 class="heading">Mars Hemispheres</h3>
    <div class="panel panel-default">
        {% for item in Mars.hemi | batch(2, '&nbsp;') %}
        <div class="row">
            {% for article in item %}
            <div class="col-xl-6  col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="container-fluid" id="imagecontainer">
                    <div class="span4">{{ article.title }}</div>
                    <img src="{{ article.img_url }}" alt="{{ article.title }}" style='width:85%;' border="1">
                </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

</body>

</html>

